*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

//vars
//font colors:
$fs-clr-black: #000;
$fs-clr-white: #fff;

//bg colors:
$bg-white: #fff;
$bg-orange: rgba(255, 176, 1, 1);
$bg-red: #ff3232;

//font-sizes:
$fs-size-vlg: 1.7rem;
$fs-size-lg: 1.4rem;
$fs-size-mid: 1rem;
$fs-size-sm: 0.7rem;
$fs-size-vsm: 0.45rem;

//service
li {
	list-style-type: none;
}

.btn {
	background-color: $bg-red;
	color: $fs-clr-white;
}

.list-flex-x-axis {
	display: flex;
	align-items: center;
}

a:visited,
a:not(visited) {
	color: $fs-clr-black;
}

.form-floating > .form-select {
	font-size: calc(0.4rem + 1vmin);
	height: calc(3rem + 1vmin);

	&:hover {
		cursor: pointer;
	}
}

.form-control:not(:placeholder-shown) {
	font-size: calc(0.4rem + 1vmin);
	height: calc(2.7rem + 1vmin);
}

.alert {
	position: absolute !important;
	width: 100% !important;
	display: flex !important;
	justify-content: center;
	transform: translateY(-30%);
	animation-name: animate-alert;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-direction: normal;
	animation-timing-function: ease-in;
	z-index: 20;
}

.span-red {
	color: $bg-red !important;
}
.span-bold {
	font-weight: 700;
}

.span-underscore {
	font-weight: 400;
	font-size: $fs-size-sm;
}

//////////////////////////////////////////////////////
body {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-x: hidden;

	nav {
		width: 100%;
		height: 16%;
		background-color: $bg-white;

		.list-flex-x-axis {
			width: 100%;
			height: 100%;
			justify-content: space-evenly;

			li:first-child {
				.logo {
					.list-flex-x-axis {
						justify-content: center;

						li:first-child {
							flex: 0.8;
							background-color: $bg-orange;
							color: $fs-clr-white;
							text-align: center;
							font-weight: 600;
							font-size: 2rem;
							height: 2.5rem;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 3rem;
						}

						li:nth-child(2) {
							flex: 2;
							text-align: center;

							strong {
								font-size: $fs-size-mid;
								margin-left: 10px;
							}

							h5 {
								font-size: $fs-size-sm;
								margin-left: 15px;
							}
						}
					}
				}
			}

			li:nth-child(n + 2) {
				a {
					font-size: $fs-size-sm;
				}
			}
		}
	}

	main {
		width: 100%;
		height: 84%;
		background-color: $bg-orange;
		display: flex;
		position: relative;

		.section {
			&-promo-area {
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding-left: 50px;
				color: $fs-clr-white;

				h2 {
					strong {
						font-size: $fs-size-vlg !important;
						font-weight: 700;
					}
				}

				h2 {
					font-size: $fs-size-lg !important;
					font-weight: 400;
				}

				img {
					width: 100%;
					object-fit: contain;
				}
			}

			&-selection-area {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				flex: 1.8;
				height: 95%;
				justify-content: center;
				align-items: center;
				transform: scale(0.85);

				.container {
					line-height: 1.6rem !important;
					h6 {
						font-size: 0.8rem !important;
						font-weight: 700;
					}

					label {
						font-size: $fs-size-sm !important;
					}

					.container-extra-features {
						input[type='checkbox'] {
							width: 15px;
							height: 15px;
							&:hover {
								cursor: pointer;
							}
						}
					}
				}
			}

			&-result-area {
				visibility: hidden;
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				padding: 0px 20px 0px 20px;
				transform: scale(0.9);
				background: rgba(255, 255, 255, 0.7);
				border-radius: 25px 0px 0px 25px;
				font-size: 0.8rem;
				line-height: 1.8rem;

				h2 {
					font-size: $fs-size-mid !important;
				}

				.list {
					padding-left: unset !important;
				}

				.btn-getOffer {
					font-weight: 700;
					max-width: 70%;
					font-size: $fs-size-sm;
					margin: 0 auto;
					transform: translateY(50px);

					&:hover {
						transition: all 0.6s ease-in;
					}
				}
			}
		}
	}
}

@keyframes animate-alert {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0%);
	}
}
